.drink__row{
    display: flex;
    align-items: center;
    justify-content: center;

}

.drink__card{
    background-color: #FFF;
    width: 300px;
    height: 425px;
    border-radius: 10%;
    padding: 20px; 
    margin: 8px;
}

.drink__card img{
    border-radius: 100%;
}

.drink__price{
    font-family:  system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(11, 11, 11);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
}

.drink__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.drink__description{
    color: rgb(120, 124, 130)
}
.drink__price-wrapper{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}