*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
}

.logo{display: flex;
      justify-content: center;
      align-items: center;}

.logo-text{
    font-size: 35px;
    color:#FFF;
    cursor: pointer;
    letter-spacing: 1px;
}

span{
    color:#f9004d;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px; 
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover{
    color:#f9004d;
    transition:  .4s;
}

.cart{
    transform: scaleX(-1);
}
.cart:hover{
    content: url(/images/cart-pink.png);
}

main{
    background-color: #f3f3f7;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.card{
    background-color: #FFF;
    width: 300px;
    height: 480px;
    border-radius: 10%;
    padding: 20px; 

}

.title{
   text-align: center;
}
.description{
  color: rgb(120, 124, 130);
}

.counterWrapper{
    display: flex;
    justify-content: center;
}

.counterWrapper div{
    padding: 10px 15px;
}

.counterMinus, .counterPlus{
    cursor: pointer;
}