*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
}

.logo{display: flex;
      justify-content: center;
      align-items: center;}

.logo-text{
    font-size: 35px;
    color:#FFF;
    cursor: pointer;
    letter-spacing: 1px;
}

span{
    color:#f9004d;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px; 
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover{
    color:#f9004d;
    transition:  .4s;
}

.cart{
    transform: scaleX(-1);
}
.cart:hover{
    content: url(/images/cart-pink.png);
}

main{
    background-color: #f3f3f7;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.row .card{
    display: inline-block;
    margin: 10px;
}

.card{
    background-color: #FFF;
    width: 300px;
    height: 500px;
    border-radius: 10%;
    padding: 20px; 
}

.title, .price{
   text-align: center;
}
.description{
  color: rgb(120, 124, 130);
}

.counterWrapper{
    display: flex;
    justify-content: center;
}

.counterWrapper div{
    padding: 10px 15px;
}

.counterMinus, .counterPlus{
    cursor: pointer;
}

.picca_size, .doughThickness{
    border-radius: 9999px;
    background-color: rgb(243, 243, 247);
    height: 32px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 8px 0px;
}

label{
    display: block;
    flex: 1 1 0%;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 32px;
    font-family: system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    text-align: center;
    height: 32px;
    transition: color 150ms ease 0s;
}

label:hover{
    background-color: #fff;
    height: 29px;
    margin: 2px;
}

label:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
}
.active{
    box-shadow: #D6D6E7 0 3px 7px inset;
}

.price{
    font-family:  system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(11, 11, 11);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
}
.price span{
    color: rgb(11, 11, 11);
}
.wrapperPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
